
        <!--Menu-->
        <nav class="flex flex-col md:flex-row justify-around text-center text-white font-bold bg-yellow-500 p-2 sm:p-1 leading-1 md:leading-10">
            <div  class="flex">
                <small>Painting and decorating services - Bristol/Somerset</small>
            </div>
            <div class="flex justify-center">
                <a href="https://www.instagram.com/iapaintingdecorating/" target="_blank" rel="noopener"><img class="h-5 inline m-2" src="../../static/img/ig.png"></a>
                <a href="https://www.facebook.com/IaPaintingDecorating/" target="_blank" rel="noopener"><img class="h-5 inline m-2" src="../../static/img/fb.png"><small>IAPaitingDecorating</small></a>
            </div>
                <div  class="flex flex-col md:flex-row">
                    <a class="pr-2" href="tel:+447762032163"><img class="h-4 inline m-2" src="../../static/img/phone.png"><small>07762032163</small></a>
                    <a href="/contact"><img class="h-4 inline m-2" src="../../static/img/email.png"><small>iapaintingdecorating@outlook.com</small></a>
                </div>
        </nav>